/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.logo-bg {
  background-color: black;
  padding: 10px 20px;
}

header {
  position: sticky;
  top: 0px;
  z-index: 100000;
}

nav a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  padding: 45px 175px 30px 15px;
}

nav {
  padding: 15px 53.5px 15px 60.5px ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

article {
  margin: 0px 15px 45px 15px;
  box-shadow: 0px 5px #783DF6;
  background-color: #F6F6F6;
}

.container {
  position: relative;
}

.vignette {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #783DF6;
  padding: 5px 10px;
  color: white;
}

article h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 15px 0px 15px;
}

article p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 15px;
}

.membership {
  background-color: black;
}

.membership h2 {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  padding: 15px;
}

.membership p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 0px 15px 0px 15px;
}

.subscribe-button-envelope {
  padding: 45px 203px 30px 0px;
  text-align: center;
}

.subscribe-button { 
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 15px 30px;
}

.film-title {
  padding: 45px 175px 30px 0px;
}

.films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 15px 0px 15px;
}

.films div {
  max-width: 175px;
  background-color: #F6F6F6;
  margin-bottom: 10px;
}

.films div h4 {
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.films div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 15px 15px 15px;
}

.films a {
  background: black;
  font-family:  'Open Sans', sans-serif;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 15px 30px;
  margin: 0px 113px 45px 113px;
}

footer {
  background-color: #F9DDE7;
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer div {
  max-width: 175px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: black 3px solid;
}

footer a {
  text-decoration: none;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

footer p {
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* ====================================
// base rules
// ==================================== */
