/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* Colors references:
#000
#f6f6f6
#783DF6
#F9DDE7
*/

html {
  margin: auto;
  max-width: 390px;
}

body {
  font-family: 'Open Sans';
  box-shadow: 0 0 6px 12px rgb(190, 190, 190);
}

h1 {
  background-color: #000;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
}

h1 img {
  width: 95%;
}

nav {
  padding: 15px 55px 15px 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
}

nav a {
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
}

.programme-explorer {
  margin: 45px 15px 0;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 30px;
}

.programme-infos {
  margin-bottom: 45px;
  background-color: #F6F6F6;
  box-shadow: 0 5px 0 0 #783DF6;
}

.programme-infos p,h3 {
  font-size: 20px;
  line-height: 28px;
}

.news-infos {
  padding: 15px 14px;
}

.programme-infos h3 {
  font-weight: 600;
  padding-bottom: 12px;
}

.news-infos-special {
  padding-bottom: 14px;
}

/* BFI MEMBERSHIP */

.bfi-membership {
  background-color: #000;
  color: #fff;
  max-width: 390px;
  padding: 16px 5px 26px 15px;
  font-size: 20px;
  line-height: 28px;
}

.bfi-membership h3 {
  font-size: 23px;
  font-weight: 600px;
}

.bfi-membership p {
  padding: 15px 0 44px 0;
}

.bfi-membership a {
  background-color: #fff;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  padding: 14px 30px;
  text-decoration: none;
}

/* Films */

.films-section {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin: 46px 0 30px 15px;
}

.films-menu {
  display: flex;
  flex-direction: row;
  width: 150%;
  margin-left: 10px;
}

.movie-choice {
  background-color: #F6F6F6;
  max-width: 175px;
  max-height: 197px;
  margin: 0 5px 110px;
}

.movie-choice h4 {
  margin: 15px 10px 12px 15px;
  font-weight: 600;
}

.movie-choice p {
  padding: 5px 10px 18px 15px;
  background-color: #F6F6F6;
  line-height: 22px;
}

.text-adjust p {
  padding: 5px 15px 16px 15px;
  margin-bottom: 4px;
}

.view-all-button {
  background-color: rgb(0, 0, 0);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 10px 15px;
  margin: 1px 129px 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #f9dde7;
  margin: 45px 0 0;
  display: flex;
}

footer h4 {
  font-weight: 600;
  padding-bottom: 7px;
}

footer li {
  line-height: 25px;
}

.usefull-infos {
  font-size: 16px;
  border-top: rgb(0, 0, 0) solid 3px;
  padding: 10px 0 0;
}

.festival-infos {
  margin: 30px 0 28px 15px;
}

.tickets-infos {
  margin: 30px 15px 28px 5px;
}

ul li {
  list-style-type: none;
}