/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules / font-family: 'Open Sans', sans-serif;
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  max-width: 390px;
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
  text-align: center;
  margin: auto;
  color: black;
  font-family: "Open Sans", sans-serif;
}

/* HEADER */

header {
  position: fixed;
  background-color: white;
}

.header-top {
  background-color: black;
  width: 390px;
  padding: 10px;
}

a {
  flex-direction: row;
}

.header-nav {
  font-weight: bold;
  padding: 15px;
  display: flex;
  justify-content: center;
}

a {
  color: inherit;
  width: 70px;
}

/* MAIN */

.main-container h2 {
  font-size: 32px;
}

.main-container {
  padding-top: 45px;
  margin: 0 20px 0 20px;
}

.programme-section {
  background-color: #783df6;
  color: white;
  position: absolute;
  padding: 5px 10px;
}

.subtitle {
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
}

.board-information {
  background-color: #f6f6f6;
  padding: 15px;
  text-align: left;
  border-bottom: solid 5px #783df6;
  font-size: 20px;
}

h2 {
  text-align: left;
  padding-bottom: 30px;
}

main {
  padding-top: 100px;
}

.category-container {
  padding-bottom: 50px;
}

.img-bfi {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.BFI-container {
  color: white;
  text-align: left;
  padding-bottom: 15px;
}

.content-bfi {
  margin: 20px;
  background: black;
  align-content: center;
}

.button {
  background-color: white;
  color: black;
  padding: 15px 30px;
  font-weight: bold;
}

.button-container {
  padding-top: 50px;
}

.container-small-info {
  flex-wrap: initial;
}

.small-categories {
  background-color: #f6f6f6;
  margin: 0 5px 0;
  text-align: left;
}

.small-text a {
  font-weight: bold;
  padding: 10px;
}

.small-text p {
  padding-top: 15px;
  padding: 15px;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 175px;
}

.small-categories img {
  padding-bottom: 15px;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* FOOTER */

footer {
  background-color: #f9dde7;
  padding: 20px;
}

.view-all-button {
  display: flex;
  justify-content: center;
}

.view-all-button p {
  font-weight: bold;
  color: white;
  background-color: black;
  padding: 15px 20px 15px;
}

.container-all-1 {
  flex-wrap: wrap;
}

.footer-content-container {
  border-top: solid 3px black;
}

ul {
  list-style: none;
  text-align: left;
}

/* ====================================
// base rules
// ==================================== */
