/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  margin: auto;
  text-align: center;
  max-width: 390px;
  box-shadow: 0px 0px 10px #4c4c4c;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.sticky-banner {
  position: fixed;
  background-color: black;
}

.banner-background {
  width: 350px;
  background-color: black;
  margin: 10px 20px;
}

.pushing-container {
  padding-top: 95px;
}

.nav-container {
  background-color: white;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  gap: 20px;
}
